.loader {
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__text {
    animation: float 2s infinite;
    animation-iteration-count: infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-1rem);
  }
}
