@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap");

@import "utils/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  // font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $black;
}

a {
  text-decoration: none;
}

.header {
  font-size: 3rem;
  font-weight: 300;
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 300;
}
